# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [8]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [11]:
#df = pd.DataFrame({"s1":s1,"s2":s2,"s3":s3})
df = pd.concat([s1,s2,s3], axis=1)
df.head()

   0  1      2
0  2  1  10923
1  2  1  12917
2  1  2  20078
3  3  2  15227
4  4  2  26605

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [12]:
df.columns = ["bedrs", "bathrs", "price_sqr_meter"]
df.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            10923
1      2       1            12917
2      1       2            20078
3      3       2            15227
4      4       2            26605

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [14]:
bigcolumn = pd.concat([s1,s2,s3])
df = pd.DataFrame(bigcolumn, columns=['bigcolumn'])
df.head()

   bigcolumn
0          2
1          2
2          1
3          3
4          4

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [15]:
len(df)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [17]:
df.reset_index(drop=True, inplace=True)

In [19]:
df.index

RangeIndex(start=0, stop=300, step=1)