# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [23]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [24]:
cars1 = pd.read_csv('./cars1.csv')
cars2 = pd.read_csv('./cars2.csv')
print cars1.head()
print cars2.head()

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [25]:
cars1 = cars1.iloc[:,0:9]
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

### Step 5. What is the number of observations in each dataset?

In [26]:
print "cars1.shape:" + str(cars1.shape)
print cars2.shape

cars1.shape:(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [31]:
cars =cars1.append(cars2, ignore_index=True)
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null int64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model           398 non-null int64
origin          398 non-null int64
car             398 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 28.1+ KB

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [33]:
import numpy as np
owners = np.random.randint(15000,73000,len(cars))
cars['owners']

0      56957
1      29997
2      49032
3      59565
4      26092
5      48855
6      62282
7      61935
8      18235
9      62335
10     47110
11     63575
12     45076
13     68638
14     72428
15     59788
16     32462
17     21071
18     25339
19     60493
20     42697
21     61148
22     24538
23     15022
24     56481
25     54941
26     26627
27     47762
28     66208
29     36927
       ...
368    28629
369    21160
370    22472
371    28626
372    39116
373    26958
374    39380
375    62938
376    47668
377    65180
378    53499
379    30910
380    22796
381    69762
382    56699
383    65661
384    33833
385    55800
386    39151
387    34009
388    17422
389    44405
390    40014
391    15058
392    17196
393    20597
394    53518
395    55767
396    64554
397    45167
Name: owners, Length: 398, dtype: int32

### Step 8. Add the column owners to cars

In [34]:
cars['owners'] = owners
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null int64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model           398 non-null int64
origin          398 non-null int64
car             398 non-null object
owners          398 non-null int32
dtypes: float64(2), int32(1), int64(5), object(2)
memory usage: 29.6+ KB