# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [22]:
url='../../chipotle.tsv.txt'
chipo = pd.read_table(url, sep='\t')
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 4. How many products cost more than $10.00?

In [28]:
#chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))
chipo.item_price.describe()
len(chipo[chipo.item_price>10.00])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [42]:
chipo_filter = chipo.drop_duplicates( ['item_name','item_price'] )
chipo_prob = chipo_filter[chipo_filter.quantity==1][['item_name', 'item_price']]
chipo_prob.sort_values('item_price')

                                  item_name  item_price
34                            Bottled Water        1.09
28                              Canned Soda        1.09
263                       Canned Soft Drink        1.25
329                           Bottled Water        1.50
6                             Side of Chips        1.69
4509                                  Chips        1.99
40                                    Chips        2.15
730            Chips and Fresh Tomato Salsa        2.29
191      Chips and Roasted Chili-Corn Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
111     Chips and Tomatillo Red Chili Salsa        2.95
89             Chips and Fresh Tomato Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
674       Chips and Mild Fresh Tomato Salsa        3.00
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
927                     Chips and Guacamole        3.89
49                      Chips and Guacamole        3.99
676                     Chips and Guacamole        4.00
10                      Chips and Guacamole        4.45
298                       6 Pack Soft Drink        6.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
1161                        Chicken Burrito        8.19
3989                          Chicken Salad        8.19
...                                     ...         ...
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
738                       Veggie Soft Tacos       11.25
13                             Chicken Bowl       11.25
1189                     Chicken Salad Bowl       11.25
3276                       Barbacoa Burrito       11.48
163                           Carnitas Bowl       11.48
471                           Barbacoa Bowl       11.48
429                   Barbacoa Crispy Tacos       11.48
187                              Steak Bowl       11.48
1063                       Carnitas Burrito       11.48
1721                       Steak Soft Tacos       11.48
3184                    Barbacoa Soft Tacos       11.48
147                           Steak Burrito       11.48
4510                          Barbacoa Bowl       11.49
1963                    Carnitas Soft Tacos       11.75
130                        Barbacoa Burrito       11.75
97                            Carnitas Bowl       11.75
93                         Carnitas Burrito       11.75
90                               Steak Bowl       11.75
988                     Barbacoa Soft Tacos       11.75
168                   Barbacoa Crispy Tacos       11.75
1353                       Steak Soft Tacos       11.75
39                            Barbacoa Bowl       11.75
7                             Steak Burrito       11.75
2231                     Steak Crispy Tacos       11.75
1008                  Carnitas Crispy Tacos       11.75
1229                    Barbacoa Salad Bowl       11.89
606                        Steak Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

In [32]:
sort_name = chipo.sort_values('item_name')
sort_name.head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [35]:
chipo[chipo.item_price == chipo.item_price.max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [36]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [44]:
len(chipo[ (chipo.item_name=='Canned Soda') & (chipo.quantity>1) ] )

20